keystore.properties
build.jks
keystore/

easycontrolpro/*.iml
easycontrolpro/.gradle
easycontrolpro/.idea
easycontrolpro/local.properties

easycontrolpro/build
easycontrolpro/app/build
easycontrolpro/app/.gradle
easycontrolpro/app/debug
easycontrolpro/app/build
easycontrolpro/app/release
easycontrolpro/app/src/main/res/raw/easycontrolpro_server.jar

easycontrolpro/server/build
easycontrolpro/server/.gradle

